<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .fieldError {
        border-color: #bd2130;
    } </style>
<body>
<div class="container">
    <form role="form" action="/pets/new" th:object="${petForm}"
          method="post">
        <div class="form-group">
            <label th:for="petName">애완동물 이름</label>
            <input type="text" th:field="*{petName}" class="form-control" placeholder="애완동물 이름을 입력하세요"
                   th:class="${#fields.hasErrors('petName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('petName')}"
               th:errors="*{petName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="gender">성별</label>
            <select th:field="*{gender}" class="form-select" aria-label="Default select example"
                    th:class="${#fields.hasErrors('gender')}? 'form-control fieldError' : 'form-control'">
                <option value="M">남</option>
                <option value="F">여</option>
            </select>
            <p th:if="${#fields.hasErrors('gender')}"
               th:errors="*{gender}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="petType">애완동물 종</label>
            <input type="text" th:field="*{petType}" class="form-control" placeholder="어떤 종인가요?">
        </div>
        <div class="form-group">
            <label th:for="petAge">나이</label>
            <input type="text" th:field="*{petAge}" class="form-control" placeholder="애완동물의 나이를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div>
</body>
</html>